<!-- An element a visitor can click if they <3 comments! -->
<button class="show-comments">Show comments</button>
<!-- The empty element required for Disqus to loads comments into -->  
<div id="disqus_thread"></div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('.show-comments').addEventListener('click', function(event) {
            // Hide the button
            event.target.style.display = 'none';
            // The script provided by Disqus to embed comments
            var disqus_config = function () {
            this.page.url = '{{ site.url }}{{ page.url }}';
            this.page.identifier = '{{ page.id }}';
            };
            (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://jurgentreep.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        });
    });
</script>
                            