---
---

@import "whiteglass";

.show-comments:hover {
    background: gainsboro;
    cursor: pointer;
}

.show-comments {
    color: $text-color;
    font-size: $base-font-size;
    border-radius: 20px;
    box-shadow: none;
    border: 2px solid gainsboro;
    background: white;
    padding: 5px 15px;
    font-family: $base-font-family;
}